table {
    border-collapse: collapse;
    caption-side: bottom;
    width: 100%;
}

tr {
    border: 0 solid;
    border-color: inherit;
}

td {
    font-size: large;
}

td.column1 {
    width: 20%;
}

td.column2 {
    width: 80%;
}

td.imageRecomment {
    width: 10%;
}

td.recomment {
    width: 40%;
}

div.recommendation {
    margin: 2%;
}

.custom-progress-1 {
    background-color: #c6f3c6 !important;
}

.custom-progress-2 {
    background-color: rgb(243, 243, 175) !important;
}

.custom-progress-3 {
    background-color: rgb(245, 217, 165) !important;
}

.custom-progress-4 {
    background-color: rgb(234, 234, 234) !important;
}

.custom-progress-5 {
    background-color: #fdbaba !important;
}

.custom-progress-bar-1 {
    background-color: #4cb84c !important;
}

.custom-progress-bar-2 {
    background-color: rgb(232, 232, 22) !important;
}

.custom-progress-bar-3 {
    background-color: orange !important;
}

.custom-progress-bar-4 {
    background-color: rgb(92, 92, 92) !important;
}

.custom-progress-bar-5 {
    background-color: #d81e1e !important;
}

.custom-progress-bar-6 {
    background-color: #ab19ab !important;
}


div.modal-body {
    display: table;
    width: 100%;
    height: fit-content;
    grid-template-rows: 33% 33% 33%;
    grid-template-columns: 70% 30%;

}

/* div.modal-detail {
    width: fit-content;
    height: fit-content;
    display: block;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

div.recommendation {
    width: fit-content;
    height: fit-content;
    display: block;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

div.bar-chart {
    width: fit-content;
    height: fit-content;
    display: block;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}

div.pie-chart {
    width: fit-content;
    height: fit-content;
    display: block;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
} */